<!DOCTYPE html>
<html>
  <head>
    <title>Add New Experience</title>
    <link rel="stylesheet" href="/style/style.css" />
    <script src="/script/experience.js" defer></script>
  </head>
  <body>
    <% if (!SessionDetails) { %>
    <script>
      const alertDiv = document.createElement("div");
      alertDiv.className = `custom-alert error`;
      alertDiv.innerText = "Please Login First";
      document.body.appendChild(alertDiv);

      setTimeout(function () {
        alertDiv.remove();
        window.location.href = "../login";
      }, 500);
    </script>
    <% } else { %>
    <nav class="top-menu">
      <div class="menu-left">
        <a href="/">Experiences</a>
      </div>
      <div class="menu-right">
        <a href="/add-experience">Add Experience</a>
        <a href="/login">Login</a>
      </div>
    </nav>

    <div class="content">
      <h3>Add New Experience</h3>
      <form id="addExperienceForm">
        <div class="input-row">
          <label for="exp_name">Experience Name:</label>
          <input type="text" id="exp_name" name="exp_name" />
        </div>
        <div class="input-row">
          <label for="exp_type">Experience Type:</label>
          <input type="text" id="exp_type" name="exp_type" />
        </div>
        <div class="input-row">
          <label for="country">Country:</label>
          <input type="text" id="country" name="country" />
        </div>
        <div class="input-row">
          <label for="region">Region:</label>
          <input type="text" id="region" name="region" />
        </div>
        <div class="input-row">
          <label for="lat">Latutude:</label>
          <input type="number" id="lat" step="0.01" name="lat" />
        </div>
        <div class="input-row">
          <label for="lon">Longitude:</label>
          <input type="number" id="lon" step="0.01" name="lon" />
        </div>

        <div class="input-row">
          <label for="bookings">No. of Bookings:</label>
          <input type="number" id="bookings" name="bookings" />
        </div>

        <div class="input-row">
          <label for="exp_description">Description:</label>
          <textarea id="exp_description" name="exp_description"></textarea>
        </div>
        <button type="submit">Add Experience</button>
      </form>
    </div>
    <% } %>
  </body>
</html>
